<div class="mt-5 mb-3">
  <h2>Pick a Room!</h2>
</div>

<div class="mb-5">
  <ul class="list-group col-md-4">
  {{#each rooms as |room|}}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span><a href="/rooms/{{room.id}}">{{room.topic}}</a></span><span class="badge badge-success badge-pill"><a href="/rooms/{{room.id}}/edit">Edit</a></span>
  </li>
  {{/each}}
  </ul>

  <b>
    <p class="mt-5">Or create a new one <a href="/rooms/new"><u>here!</u></a></p>
  </b>

</div>
<div>
  <h4 class="mt-5 mb-3">Top comments:</h4>
  <ul class="list-group col-md-4">
    {{#each posts as |post|}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{post.subject}}
      <span class="badge badge-primary badge-pill">{{post.points}}</span>
    </li>
    {{/each}}
  </ul>
</div>