<div class="col-md-12 justify-content-between text-center column mt-4 mb-5">
  <div class="col-md-12 text-center column justify-content-center">

    <div class="mt-3 mb-2">
      <h3><b>Rooms</b></h3>
    </div>

    <div class="mb-3 col-md-12  d-flex column justify-content-center">
      <ul class="list-group">
        {{#each rooms as |room|}}
        <a href="/rooms/{{room.id}}">
          <li class="list-group-item mb-2">
            <p><b>{{room.topic}}</b></p>
          </li>
        </a>
        {{/each}}
      </ul>
    </div>

  </div>
  <div class="mb-3 col-md-12  d-flex column justify-content-center">
    {{#ifCond user.isMod true}}
    <p class="mt-2">Or create a new one <a href="/rooms/new"><b><u>here!</u></b></a></p>
    {{/ifCond}}
  </div>
</div>

<div class="col-md-12 justify-content-between row mt-5">


  <div class="col-md-4 text-center column justify-content-center">

    <div class="mt-3 mb-2">
      <h4>Top Providers</h4>
    </div>

    <div class="mb-3">
      <ul class="list-group">
        {{#each topProviders as |user|}}
        <a href="/users/show/{{user.author.username}}">
          <li class="list-group-item mb-2">
            <div class="row justify-content-center">
              <p><b>{{user.author.username}}</b> with <p class="badge mr-1 ml-1 badge-primary badge-pill">
                  {{user.total}}</p>
                posts.</p>
            </div>
          </li>
        </a>
        {{/each}}
      </ul>
    </div>

  </div>


  <div class="col-md-4 text-center column justify-content-center">

    <div class="mt-3 mb-2">
      <h4>Latest Posts</h4>
    </div>

    <div class="mb-3">
      <ul class="list-group">
        {{#each newPosts as |new|}}
        <a href="/rooms/{{new.room._id}}/posts/show/{{new.id}}">
          <li class="list-group-item mb-2">
            <div class="row justify-content-center">
              <div class="row mr-2 ml-2">
                <p><b>{{new.subject}}</b> <i> - by: <b>{{new.author.username}}</b></i></p>
              </div>
              <div class="row mr-2 ml-2">
                <p class="mr-1 ml-1">with <p class="badge badge-primary badge-pill mr-1 mr-1">{{new.points}}</p> points
                </p>
              </div>
            </div>
          </li>
        </a>
        {{/each}}
      </ul>
    </div>
  </div>


  <div class="col-md-4 text-center column justify-content-center">

    <div class="mt-3 mb-2">
      <h4>Top Posts</h4>
    </div>

    <div class="mb-3">
      <ul class="list-group">
        {{#each posts as |post|}}
        <a href="/rooms/{{post.room._id}}/posts/show/{{post.id}}">
          <li class="list-group-item mb-2">
            <div class="row justify-content-center">
              <div class="row mr-2 ml-2">
                <p><b>{{post.subject}}</b> <i> - by: <b>{{post.author.username}}</b></i></p>
              </div>
              <div class="row mr-2 ml-2">
                <p class="mr-1 ml-1">with <p class="badge badge-primary badge-pill mr-1 mr-1">{{post.points}}</p> points
                </p>
              </div>
            </div>
          </li>
        </a>
        {{/each}}
      </ul>
    </div>
  </div>

</div>

</div>