<div class="row justify-content-center mt-4">
  <h1>{{room.topic}}</h1>
</div>

<div class="row justify-content-center mt-5 makesmaller">
  <div class="col-8">
    {{#each posts as |post|}}
    <div class="card mb-3 mt-5">
      <div class="card-body">
        <h3 class="card-title text-center">{{post.subject}}</h3>
        <p class="text-center"><i>Author: {{post.author}}</i></p>
        <p class="text-center"><i>{{post.createdAt}}</i></p>
        <p>{{post.body}}</p>
        <img src="{{post.img}}" width="200" />
        <hr>
        <p><a href="{{post.link}}">{{post.link}}</a></p>
      </div>

      <div class="card-footer text-muted text-right">

        <div class="btn-group btn-group-sm footerBtns">
          <h3 class="points-span mr-3">{{post.points}} points </h3>
          <form action="/rooms/{{post.room}}/posts/{{post.id}}" method="post" class="inline-form mr-3">
            <input type="hidden" name="points" id="post-points" value="-1">
            <button type="submit" class="downvote-button btn btn-danger">-</button>
          </form>

          <form action="/rooms/{{post.room}}/posts/{{post.id}}" method="post" class="inline-form mr-3">
            <input type="hidden" name="points" id="post-points" value="1">
            <button type="submit" class="upvote-button btn btn-success">+</button>
          </form>
        </div>
      </div>
    </div>
    





    {{#each post.comments as |comment|}}
    
    <p><b>{{comment.author}}:</b> {{comment.body}}</p>
    <p class="text-muted"><i>{{comment.createdAt}}</i></p>
    {{/each}}
    <a href="/rooms/{{../room.id}}/posts/{{post.id}}/comments/new"><button class="btn btn-warning">New
        comment</button></a>


    {{/each}}

  </div>
</div>

<div class="row justify-content-center">
  <a href="/rooms/{{room.id}}/posts/new"><button class="btn btn-success">New Post</button></a>
</div>