<div class="mt-5 mb-5 text-center">
  {{# if user.isAdmin}}
  <h1>Admin</h1>

  <div class="col-md-12 justify-content-center text-center">
    <ul class="row">
      {{#each users as |user|}}

        <div class="column text-center mr-5">
        <a href="/users/show/{{user.username}}">
          <img class="" src="{{user.picLink}}" width="70" />
          <p class="">{{user.username}}</p>
        </a>
        {{#ifCond user.isMod false}}
        <form action="/admin/{{user._id}}/mod" method="post">
          <button class="mr-2 mb-2 btn btn-sm btn-primary">Mod</button>
        </form>
        {{else}}
        <form action="/admin/{{user._id}}/mod" method="post">
          <button class="mr-2 mb-2 btn btn-sm btn-danger">unMod</button>
        </form>
        {{/ifCond}}
        <form action="/admin/{{user._id}}/delete" method="post">
          <button class="mb-2 btn btn-sm btn-danger">Del</button>
        </form>
        </div>

      {{/each}}
    </ul>
  </div>
  {{else}}
  <h1>You are not <b>authorized</b> to see the content of this page!</h1>
  {{/if}}
</div>