<div class="card-body">
  <h3 class="card-title mb-4"> {{user.username}}</h3>
  <p>Name: {{user.firstName}} {{user.lastName}}</p>
  <p>From: {{user.location}}</p>
  <p>FB: <a href="{{user.facebook}}" target="_blank">Link</a></p>
  <p>Member since: {{user.createdAt}}</p>
  <a href="/users/profile-edit"><button class="btn btn-primary btn-sm">Edit</button></a>
</div>