<div class="text-center justify-content-center container">


  <div class="mb-5">
    <h2 class="card-title mb-3"> {{user.username}}</h2>
    <img class="mb-3" src="{{user.picLink}}" width="100" />
    <p><b>Name:</b> {{user.firstName}} {{user.lastName}}</p>
    <p><b>From:</b> {{user.location}}</p>
    <p><b>FB:</b> <a href="{{user.facebook}}" target="_blank">Link</a></p>
    <p><b>Member since:</b> {{user.createdAt}}</p>
    <p><b>Posts:</b> {{user.posts.length}}</p>
    <p><b>Comments:</b> {{user.comments.length}}</p>
    <a class="mb-2" href="/users/profile-edit"><button class="btn btn-primary btn-sm">Edit</button></a>
  </div>

  <hr class="mb-5">


  <form class="row justify-content-md-center mt-5" action="/users/profile-delete" method="post">
    <div class="col-md-4 mt-5">
      <label for="user-username">Type in your username here if you <b>REALLY</b> want to <b>delete</b> your
        account!</label>
      <input type="text" name="userDelete" class="form-control" id="user-delete" placeholder="Are you sure?">
      <button type="submit" class="btn btn-danger btn-sm">Delete account</button>
    </div>
  </form>



</div>