<div>
  <h3> {{user.username}}</h3>
  <p>Name:{{user.firstName}} {{user.lastName}}</p>
  <p>From: {{user.location}}</p>
  <p>FB: {{user.facebook}}</p>
  <p>Member since: {{user.createdAt}}</p>
  <p><a href="/users/profile-edit">Edit</a></p>
</div>