<div class="row justify-content-center mt-4">
  <div class="col-10">
    <div class="card mb-3">
      <div class="card-header">
        <h3 class="text-center">{{post.subject}}</h3>
        <div class="row mr-4 ml-4 justify-content-center">
          <p class="text-right mr-4"><i>Author: <b>{{post.author.username}}</b></i></p>
          <img class="text-right mr-4" src="{{post.author.picLink}}" height="20px" alt="profile picture" />
          <p class="text-right mr-4"><i>{{post.createdAt}}</i></p>
        </div>

        {{#ifCond user.username post.author.username}}

        <div class="justify-content-end row">
          <a href="/rooms/{{post.room}}/posts/{{post.id}}/edit">
            <button class="mr-3 btn btn-sm btn-success">Edit</button>
          </a>
          <a href="">
            <form action="/rooms/{{post.room}}/posts/show/{{post.id}}/delete" method="post">
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
          </a>
        </div>

        {{else}}
        {{#ifCond user.isAdmin true}}
        <div class="justify-content-end row">
          <a href="/rooms/{{post.room}}/posts/{{post.id}}/edit">
            <button class="mr-3 btn btn-sm btn-success">Edit</button>
          </a>
          <a href="">
            <form action="/rooms/{{post.room}}/posts/show/{{post.id}}/delete" method="post">
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
          </a>
        </div>
        {{/ifCond}}
        {{/ifCond}}
      </div>
      <div class="card-body">
        <p>{{post.body}}</p>
        <a href="{{post.img}}"><img src="{{post.img}}" width="200" />
          <hr>
          <p><a href="{{post.link}}" target="_blank">{{post.link}}</a></p>
      </div>


      {{#ifCond post.author.username user.username}}
      {{> notvotes}}
      {{else}}
      {{> votes }}
      {{/ifCond}}

        </div>


      {{#each post.comments as |comment|}}
      <ul class="col-md-12">
        <li>
          <div class="row col-md-12">
            <img class="mr-2" src="{{comment.author.picLink}}" height="20px" alt="profile picture" />
            <b class="mr-2">{{comment.author.username}}</b>
            <p class="text-muted"><i>{{comment.createdAt}}</i></p>
          </div>
          <p class="comment ml-4"> {{comment.body}}</p>
        </li>
      </ul>
      {{!-- <div class="row col-10">
      {{#ifCond user.username comment.author}}
      <p class="ml-3 badge badge-success badge-pill">edit</p>
      <p class="ml-1 badge badge-danger badge-pill">delete</p>
    {{/ifCond}}
    </div> --}}

      {{/each}}

      <div class="row justify-content-md-center mt-2">
        <div class="col-12">
          <form action="/posts/{{post.id}}/comments" method="post" id="new-comment-form">
            <label for="comment">New Comment</label>
            <textarea type="text" maxlength="200" name="body" class="form-control" rows="1" id="comment-body"
              placeholder="Comment here" form="new-comment-form"></textarea>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>



</div>
</div>