<div class="row justify-content-center mt-5">
  <div class="col-10">
    <div class="card mb-3 mt-5">
      <div class="card-header">
        <h3 class="text-center">{{post.subject}}</h3>
        <div class="row mr-4 ml-4 justify-content-center">
          <p class="text-right mr-4"><i>Author: {{post.author}}</i></p>
          <img class="text-right mr-4" src="{{post.authorPic}}" height="20px" alt="profile picture" />
          <p class="text-right mr-4"><i>{{post.createdAt}}</i></p>
        </div>

        {{#ifCond user.username post.author}}
        {{v1}}
        <div class="justify-content-end row">
          <a href="/rooms/{{post.room}}/posts/{{post.id}}/edit">
            <button class="mr-3 btn btn-sm btn-success">Edit</button>
          </a>
          <a href="">
            <form action="/rooms/{{post.room}}/posts/show/{{post.id}}/delete" method="post">
            <button class="btn btn-sm btn-danger">Delete</button>
            </form>
          </a>
        </div>
        {{v2}}
        {{/ifCond}}
      </div>
      <div class="card-body">
        <p>{{post.body}}</p>
        <a href="{{post.img}}"><img src="{{post.img}}" width="200" />
          <hr>
          <p><a href="{{post.link}}" target="_blank">{{post.link}}</a></p>
      </div>

      <div class="card-footer text-muted text-right">

        <div class="btn-group btn-group-sm footerBtns">
          <h4 class="points-span mr-3">{{post.points}} points </h4>
          <form action="/rooms/{{post.room}}/posts/{{post.id}}" method="post" class="inline-form mr-3">
            <input type="hidden" name="points" id="post-points" value="-1">
            <button type="submit" class="downvote-button btn btn-sm btn-danger">-</button>
          </form>

          <form action="/rooms/{{post.room}}/posts/{{post.id}}" method="post" class="inline-form mr-3">
            <input type="hidden" name="points" id="post-points" value="1">
            <button type="submit" class="upvote-button btn btn-sm btn-success">+</button>
          </form>
        </div>
      </div>
    </div>

    {{#each post.comments as |comment|}}
    <div class="row col-10">
      <img class="mr-2" src="{{comment.authorPic}}" height="20px" alt="profile picture" />
      <p class="comment"><b>{{comment.author}}:</b> {{comment.body}}</p>
    </div>
    <p class="text-muted"><i>{{comment.createdAt}}</i></p>

    {{/each}}

    <a href="/posts/{{post.id}}/comments/new"><button class="btn btn-primary btn-sm mb-5">New
        comment</button></a>

  </div>
</div>